* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

}

.layout {
    max-width: 981px;
    margin: 0 auto;
}

.header__seachr {
    max-width: 981px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    background-image: linear-gradient(0, #fff, #000000);
}

.header__seachr:hover {
    background-image: linear-gradient(0, #000000, #fff);

}

.header__seachr-img img {
    width: 120px;
    height: 100px;
}

.header__seachr-img img:hover {
    box-shadow: 1px 1px 10px 2px #fff;
}



.header__seachr-item input {
    border: none;
    width: 50%;
    outline: none;
    padding-right: 40px;

}

.header__seachr-item button {
    border: none;
    height: 23.5px;
    width: 91px;
    border-radius: 15px;
    color: #fff;
    background-color: #000;
    margin: 20px 0px;
}

.header__seachr-item button:hover {
    color: #000;
    background-color: #fff;

}

/* ----------------- */

.nav__menu {
    width: 981px;
    margin: 0 auto;
    background-color: #3333;
}

.nav__menu:hover {
    background-color: #333;
}

.nav__menu--list {
    display: flex;
    justify-content: space-between;
    margin: 0px 220px;
    padding: 20px 0px;
    flex-wrap: wrap;

}

.nav__menu--list-item {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.nav__menu--list-item:hover {
    color: orangered;
}

/* --------------- */

.banner img {
    margin: 30px 0px 0px 0px;
    width: 981px;
    height: 250px;
}

/* ---------- */

.content {
    width: 981px;
}

.content__list {
    display: flex;
    justify-content: space-between;
    padding: 30px 24px;
}

.content__list--img img {
    width: 400px;
    height: 250px;
    margin: 30px;
    border-style: outset;
}

.content__list--img img:hover {
    box-shadow: 1px 1px 10px 1px #000;
    transform: scale(1.005);
}

.content__list__title {
    margin: 40px;
}

.content__list1 {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 40px 20px;

}

.content__list__title h1 {
    font-family: tahoma;
    font-size: 25px;
    margin: 20px 0px;
}

.content__list__title h1:hover {
    border-bottom: solid 0.5px;
}

.content__list__title p {
    line-height: 19px;
}

/* ---------------- */
.footer__list {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(0, #000, #999);
    padding: 50px;
}

.footer__list--item {
    text-align: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
    font-size: 15px;
}

.footer__list--item:hover {
    color: orangered;

}

@media only screen and (max-width: 63.9375em) {
  

    .header__seachr{
        margin-left: -30px;
    }

 
 

    .nav__menu--list {
        width: 100%;
        margin: auto;
    }

    .nav__menu{
        width: 100%;
    }

    .nav__menu--list-item{
        font-size: 15px;
        margin: 0px 10px;
    }
 

    .content{
        width: 100%;
        margin: auto;
    }

    .content__img img {
        width: 100%;
        height: 100%;
    }


    
    .header__seachr-item input{
        width: 50%;
        padding: 0px;
        margin-left: 30px;
    }



    .banner img {
        flex-direction: column-reverse;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .banner {
        flex-direction: column-reverse;
        text-align: center;
    }



    .content__list {
        flex-direction: column-reverse;
        margin: auto;
    }

    .content__list1 {
        flex-direction: column-reverse;
        margin: auto;

    }


    .footer__list {
        flex-direction: column-reverse;
    }


    .content__list--img img{
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .content__list__title{
        width: 100%;
        margin: auto;

    }




}